@import './vars';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
	font-size: 1rem;
  font-family: 'Knile', Arial, sans-serif !important;
}

main {
	padding-bottom: 12rem !important;
}

button {
	cursor: pointer;
	font-family: 'Knile';
	border: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $darkShade25;
  opacity: 1;
  /* Firefox */
  font-family: "Knile", Arial, sans-serif;
}

@font-face {
	font-family: 'Knile';
	src: url('@/assets/fonts/Knile-Regular.eot');
	src: url('@/assets/fonts/Knile-Regular.eot?#iefix') format('embedded-opentype'),
			url('@/assets/fonts/Knile-Regular.woff2') format('woff2'),
			url('@/assets/fonts/Knile-Regular.woff') format('woff'),
			url('@/assets/fonts/Knile-Regular.ttf') format('truetype'),
			url('@/assets/fonts/Knile-Regular.svg#Knile-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
  background-color: #F0EAD6;
}

.main {

  &__content {
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 110rem;
    column-gap: 1rem;
    row-gap: 2rem;

    &__text {
      font-weight: bold;
      font-size: 3rem;
    }
  }

  &__card {

    max-width: 10rem;
    display: flex;
    flex-direction: column;

    &__img {
      cursor: pointer;
      border-radius: 5px;

      &:hover {

        -webkit-filter: brightness(40%);
        filter: brightness(40%);

        + .plus {
          opacity: 1;
          transform: scale(1) translate3d(0,0,0);
        }
      
      }
    }
  }

  .plus {
		position: relative;
		width: 50px;
		height: 50px;
		bottom: 32%;
		left: 50%;
		margin: -25px 0 0 -25px;
		background: red;
		border-radius: 50%;
		box-shadow: 2px 4px 10px 0 rgba(0,0,0,0.5);
		transition: all .4s ease-in-out;
		opacity: 0;
		transform: scale(2);
		pointer-events: none;
		
		&:before {
			position: absolute;
			content: '';
			width: 14px;
			height: 2px;
			top: 24px;
			left: 18px;
			background: #fff;
		}
		
		&:after {
			position: absolute;
			content: '';
			width: 2px;
			height: 14px;
			top: 18px;
			left: 24px;
			background: #fff;
		}
		
	}
}

.detail {
  display: none;
	margin: 0 auto;
  position: absolute;
  z-index: 2;
  top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	pointer-events: none;
	font-size: 0;

  &.active {
		pointer-events: all;
		display: block;
  }

  &__close {
		position: absolute;
		z-index: 2;
		width: 50px;
		height: 50px;
		top: 10px;
		right: 25%;
		background: red;
		border-radius: 50%;
		transition: background .3s ease-in-out, transform .5s ease-in;
		transform: rotate(45deg);
		cursor: pointer;

		&:before {
			position: absolute;
			content: '';
			width: 14px;
			height: 2px;
			top: 24px;
			left: 18px;
			background: #fff;
			transition: all .3s ease-in-out;
		}

		&:after {
			position: absolute;
			content: '';
			width: 2px;
			height: 14px;
			top: 18px;
			left: 24px;
			background: #fff;
			transition: all .3s ease-in-out;
		}
		
		&:hover {
			background: #fff;
			
			&:after, &:before {
				background: red;
			}
		}
		
	}

	&__image {
		display: flex;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		object-fit: scale-down;
	}
}